body {
	background-color: #CAFFF3;
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
	margin: 0;
}

#footer {
	clear: both;
	padding: 10px;
	text-align: right;
}

#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	text-align: center;
	padding: 10px;
}

#links {
    padding-left: 550px;
    margin-top: auto;
}
